
{{#partial "styles"}}
    <!-- CSS -->
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/donaciones.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/nueva_donacion.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script>
        var heladeras = [];
        {{#each heladeras}}
            heladeras.push({
                nombre: "{{estacion}}",
                    coordenadas: [{{latitud}}, {{longitud}}],
                    estado: "{{estado}}",
                    direccion: "{{direccion}}",
                    temperatura: "{{temperatura}}",
                    capacidad: "{{capacidadMax}}",
                    viandas: "{{viandasDisponibles}}",
                    inicioOperacion: "{{inicioOperacion}}"
                });
        {{/each}}
    </script>
{{/partial}}
{{#partial "title"}}
    Visitas
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal_donaciones" class="p-4 container">
        <div class="contenedor_titulo_pagina d-flex gap-4 mb-4 container">
            <div class="titulo">
                <span>Mis Visitas Técnicas</span>
            </div>
        </div>

        <!-- LISTA DE CARDS -->
        <div class="contenedor_datos container-fluid py-4">
            {{#each visitas}}
                <div class="row fila_contribucion mb-3">
                    <div class="col-12">
                        <div class="scrollable-card p-3">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100"><i class="bi bi-truck"></i> VISITA TÉCNICA</div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha y Hora realizada: <span class="valor_info">{{this.fechaVisita}}</span></div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100"><i class="bi bi-info-circle"></i> Motivo: <span class="valor_info">{{this.incidente.getTipo}}</span></div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100"><i class="bi bi-box-arrow-right"></i> Heladera : <span class="valor_info">{{this.heladera.nombreIdentificador}}</span></div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100"><i class="bi bi-activity"></i> Resuelto : <span class="valor_info">{{#if this.resuelto}}Completo{{else}}Incompleto{{/if}}</span></div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100"><i class="bi bi-chat-left"></i> Descripción: <span class="valor_info">{{this.comentario}}</span></div>
                                </div>
                                {{#if this.foto}}
                                <div class="col-12 col-md-4">
                                    <div class="tag_info w-100">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imagenModal{{@index}}">
                                            <i class="bi bi-image"></i> Ver imagen
                                        </button>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para la imagen -->
                {{#if this.foto}}
                <div class="modal fade" id="imagenModal{{@index}}" tabindex="-1" aria-labelledby="imagenModalLabel{{@index}}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imagenModalLabel{{@index}}">Imagen de la visita</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <img src="{{this.foto}}" class="img-fluid" alt="Imagen de la visita">
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

    <!-- Botones volver al menu y quiero donar -->
    <div class="flex row col-12">
        <!-- boton volver al menu principal -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-home">
            <a href="/home" class="btn btn-primary botones" >
                <i class="bi bi-house-door-fill"></i>
                Volver al menú
            </a>
        </div>
        <!-- boton donar de nuevo -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-agregar-donacion">
            <a href="/estaciones" class="btn botones btn-donar" >
                <i class="bi bi-plus-circle"></i>
                Nueva visita
            </a>
        </div>
    </div>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{> templates/home/base}}