{{#partial "styles"}}
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/donaciones.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/nueva_donacion.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{{/partial}}
{{#partial "title"}}
    Reportes
{{/partial}}
{{#partial "contenido"}}
    <!-- REPORTES GENERADOS -->
    <div id="contenedor_principal_puntos " class="p-4 container ">
        <div class="contenedor_titulo_pagina d-flex gap-4 mb-4 container">
            <div class="titulo">
                <span>REPORTES </span>
            </div>
        </div>
        <!-- LISTA DE CARDS DE REPORTES SEGUN FECHA -->
        <div class="contenedor_datos container-fluid py-4">




            {{#each reportes}}
                {{#if (eq this.getTipo "REPORTE_VIANDAS_COLABORADOR")}}
                    <!-- Card 1: VIANDAS POR COLABORADOR -->
                    <div class="row fila_contribucion mb-3" data-descripcion="VIANDAS DONADAS POR PERSONA" data-fecha="2024-09-01"> <!-- Card 1: data-fecha debería ser obtenido de la card -->
                        <div class="col-12">
                            <div class="scrollable-card p-3">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-box2-fill"></i>
                                            VIANDAS DONADAS POR PERSONA
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-calendar"></i>
                                            Fecha realizada: <span class="valor_info">{{this.fechaGeneracion}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-list-ol"></i>
                                            Total: <span class="valor_info">150</span>
                                        </div>
                                    </div>
                                    <!-- REPORTE -->
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-file-earmark-arrow-down"></i>
                                            <a href="{{this.pdf}}" download="Reporte_Viandas_2024-09-01" class="text-decoration-none">
                                                Descargar reporte
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else if (eq this.getTipo "REPORTE_VIANDAS_HELADERA")}}
                    <!-- Card 2: VIANDA POR HELADERA -->
                    <div class="row fila_contribucion mb-3" data-descripcion="VIANDAS RETIRADAS/COLOCADAS EN HELADERA" data-fecha="2023-09-01"> <!-- Card 1: data-fecha debería ser obtenido de la card -->
                        <div class="col-12">
                            <div class="scrollable-card p-3">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-pc"></i>
                                            VIANDAS RETIRADAS/COLOCADAS EN HELADERA</div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaGeneracion}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-list-ol"></i>
                                            Total: <span class="valor_info">150</span>
                                        </div>
                                    </div>
                                    <!-- REPORTE -->
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-file-earmark-arrow-down"></i>
                                            <a href="{{this.pdf}}" download="Reporte_Viandas_2024-09-01" class="text-decoration-none">
                                                Descargar reporte
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else if (eq this.getTipo "REPORTE_FALLA")}}
                    <!-- Card 3: FALLAS POR HELADERA -->
                    <div class="row fila_contribucion mb-3" data-descripcion="FALLAS POR HELADERA" data-fecha="2022-09-01"> <!-- Card 1: data-fecha debería ser obtenido de la card -->
                        <div class="col-12">
                            <div class="scrollable-card p-3">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-tools"></i> FALLAS POR HELADERA</div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaGeneracion}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-list-ol"></i>
                                            Total: <span class="valor_info">150</span>
                                        </div>
                                    </div>
                                    <!-- REPORTE -->
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100">
                                            <i class="bi bi-file-earmark-arrow-down"></i>
                                            <a href="{{this.pdf}}" download="Reporte_Viandas_2024-09-01" class="text-decoration-none">
                                                Descargar reporte
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}

            {{/each}}

            <!-- FILTROS -->
            <div class="container my-4">
                <div class="filter-section">
                    <h4 class="mb-3">Filtros</h4>
                    <form id="filterForm" class="row g-3">
                        <!-- Selector de descripción -->
                        <div class="col-md-6">
                            <label for="descripcion" class="form-label">Descripción del reporte:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="VIANDAS DONADAS POR PERSONA" id="viandasPersona" name="descripcion">
                                <label class="form-check-label" for="viandasPersona">
                                    Viandas donadas por persona
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="VIANDAS RETIRADAS/COLOCADAS EN HELADERA" id="viandasHeladera" name="descripcion">
                                <label class="form-check-label" for="viandasHeladera">
                                    Viandas retiradas/colocadas en heladera
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="FALLAS POR HELADERA" id="fallasHeladera" name="descripcion">
                                <label class="form-check-label" for="fallasHeladera">
                                    Fallas por heladera
                                </label>
                            </div>
                        </div>

                        <!-- Selector de fecha -->
                        <div class="col-md-6">
                            <label for="fecha" class="form-label">Fecha:</label>
                            <input type="date" id="fecha" class="form-control" name="fecha">
                        </div>

                        <!-- Botón para aplicar filtro -->
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" id="applyFilter">
                                <i class="bi bi-funnel-fill"></i> Aplicar filtro
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <!-- Botones volver al menu y quiero donar -->
    <div class="flex row col-12 ">
        <!-- boton volver al menu principal -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-home">
            <a href="/home" class="btn btn-primary botones" >
                <i class="bi bi-house-door-fill"></i>
                Volver al menú
            </a>
        </div>
        <!-- boton donar de nuevo -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-agregar-donacion">
            <a class="btn btn-primary botones bg-primary text-white" href="/donaciones">
                <i class="bi bi-basket"></i>
                Ir a donaciones
            </a>
        </div>
    </div>
{{/partial}}
{{#partial "scripts"}}
    <script type="text/javascript" src="js/script_reportes.js"></script>
{{/partial}}
{{> home/base}}