<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Heladeras</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista de Heladeras</h1>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Nombre Identificador</th>
            <th scope="col">Capacidad Máxima</th>
            <th scope="col">Capacidad Actual</th>
            <th scope="col">Fecha de Inicio de Funcionamiento</th>
            <th scope="col">Estado</th>
            <th scope="col">Temperatura</th>
        </tr>
        </thead>
        <tbody>
        {{#each heladeras}}
            <tr>
                <td>{{nombreIdentificador}}</td>
                <td>{{capacidadMax}}</td>
                <td>{{capacidadActual}}</td>
                <td>{{fechaInicioFuncionamiento}}</td>
                <td>{{estadoHeladera}}</td>
                <td>{{temperatura}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!-- Bootstrap JS (opcional para funcionalidades avanzadas de Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>