{{#partial "titulo"}}
    {{#if edit}}
        <i class="bi bi-pencil-square"></i> Editar Heladera
    {{else}}
        <i class="bi bi-plus-circle-fill"></i> Crear Heladera
    {{/if}}
{{/partial}}
{{#partial "form"}}
    <form action="{{action}}" method="POST">
        <div class="mb-3">
            <label for="nombreHeladeraEdit" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreHeladeraEdit" placeholder="Ingrese Nombre"
                   name="nombreHeladera"
                   value="{{heladera.nombreIdentificador}}"
                   required>
        </div>

        <div class="mb-3">
            <label for="modeloHeladeraEdit" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modeloHeladeraEdit" placeholder="Ingrese Modelo"
                   name="modeloHeladera"
                   value="{{heladera.modeloDeHeladera}}"
                   required>
        </div>

        <div class="mb-3">
            <label for="ubicacionHeladeraEdit" class="form-label">Ubicaci칩n</label>
            <input type="text" class="form-control" id="ubicacionHeladeraEdit"
                   name="ubicacion"
                   placeholder="Ingrese Ubicaci칩n" >
        </div>

        <div class="mb-3">
            <label for="capacidadActualEdit" class="form-label">Capacidad Actual (litros)</label>
            <input type="number" class="form-control" id="capacidadActualEdit" placeholder="Ingrese Capacidad Actual"
                   name="capacidadActual"
                   value="{{heladera.capacidadActual}}"
                   required>
        </div>

        <div class="mb-3">
            <label for="capacidadMaximaEdit" class="form-label">Capacidad M치xima (litros)</label>
            <input type="number" class="form-control" id="capacidadMaximaEdit" placeholder="Ingrese Capacidad M치xima"
                   name="capacidadMaxima"
                   value="{{heladera.capacidadMax}}"
                   required>
        </div>

        <div class="mb-3">
            <label for="fechaInicioFuncionamientoEdit" class="form-label">Fecha de Inicio Funcionamiento</label>
            <input type="date" class="form-control" id="fechaInicioFuncionamientoEdit"
                   name="fechaInicioFuncionamiento"
                   value="{{heladera.fechaInicioFuncionamiento}}"
                   required>
        </div>

        <div class="mb-3">
            <label for="estadoHeladera" class="form-label">Tipo de Estado</label>
            <select class="form-select" id="estadoHeladera" name="estadoHeladera" required>
                <option value="" disabled>Seleccionar tipo...</option>
                <option value="ACTIVA" {{#if (eq heladera.estadoHeladera "ACTIVA")}}selected{{/if}}>ACTIVA</option>
                <option value="INACTIVA" {{#if (eq heladera.estadoHeladera "INACTIVA")}}selected{{/if}}>INACTIVA</option>
                <option value="FUERA_DE_SERVICIO" {{#if (eq heladera.estadoHeladera "FUERA_DE_SERVICIO")}}selected{{/if}}>FUERA_DE_SERVICIO</option>
            </select>
        </div>

        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancelar</button>
            {{#if edit}}
                <button type="submit" class="btn btn-warning"><i class="bi bi-save"></i> Guardar Cambios</button>
            {{else}}
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Crear</button>
            {{/if}}
        </div>
    </form>
{{/partial}}
{{> templates/dashboard/forms/base}}