{{#partial "titulo"}}
    {{#if edit}}
        <i class="bi bi-pencil-square"></i> Editar Tarjeta
    {{else}}
        <i class="bi bi-plus-circle-fill"></i> Crear Tarjeta
    {{/if}}
{{/partial}}
{{#partial "form"}}
    <form action="{{action}}" method="POST">

        <!-- Buscar colaborador -->
        {{#if edit}}
            {{#if tarjeta.idColaborador}}
                <div class="mb-3">
                    <label for="tarjetaDeBeneficiarioColaboradorId" class="form-label">Colaborador</label>
                    <select class="form-select" id="tarjetaDeBeneficiarioColaboradorId" name="tarjetaDeBeneficiarioColaboradorId">
                        <option value="">Seleccionar colaborador id...</option>
                        {{#each colaboradores}}
                            <option value="{{this}}" {{#if (eq tarjeta.idColaborador this )}}selected{{/if}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/if}}
        {{/if}}
        {{#if edit}}
            {{#if tarjeta.idBeneficiario}}
                <div class="mb-3">
                    <label for="tarjetaDeColaboradorBeneficiarioId" class="form-label">Beneficiario</label>
                    <select class="form-select" id="tarjetaDeColaboradorBeneficiarioId" name="tarjetaDeColaboradorBeneficiarioId">
                        <option value="">Seleccionar beneficiario id...</option>
                        {{#each beneficiarios}}
                            <option value="{{this}}" {{#if (eq tarjeta.idBeneficiario this )}}selected{{/if}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/if}}
        {{/if}}

        <div class="mb-3">
            <label for="fechaDeAltaDeUsoTarjeta" class="form-label">Fecha de alta</label>
            <input type="date" class="form-control" id="fechaDeAltaDeUsoTarjeta" name="fechaDeAltaDeUsoTarjeta" value="{{tarjeta.fechaInicioDeFuncionamiento}}" required>
        </div>


        <div class="mb-3">
            <label class="form-label">Estado</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="estadoBeneficiario" name="estadoBeneficiario" value="true" {{#if tarjeta.estado}}checked{{/if}}>
                <label class="form-check-label" for="estadoBeneficiario">Activo</label>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancelar</button>
            {{#if edit}}
                <button type="submit" class="btn btn-warning"><i class="bi bi-save"></i> Guardar Cambios</button>
            {{else}}
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Crear</button>
            {{/if}}
        </div>
    </form>
{{/partial}}
{{> templates/dashboard/forms/base}}
