{{#partial "styles"}}
    <!-- CSS -->
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/donaciones.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/nueva_donacion.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    {{#if juridico}}
    {{else}}
    {{/if}}
{{/partial}}
{{#partial "title"}}
    Donaciones
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal_donaciones " class="p-4 container ">
        <div class="contenedor_titulo_pagina d-flex gap-4 mb-4 container">
            <div class="titulo">
                <span>Mis Donaciones</span>
            </div>
            <!-- BOTON AÑADIR DONACIÓN -->
            <a class="boton boton_titulo boton_verde" data-bs-toggle="modal" data-bs-target="#modal_nueva_colab">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>
        <!-- MODAL AÑADIR DONACIÓN -->
        <div class="modal fade" id="modal_nueva_colab" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="contenedor_titulo_pagina d-flex gap-4 w-100">
                            <div class="titulo flex-fill">
                                <span>NUEVA DONACIÓN</span>
                            </div>
                            <a class="boton boton_titulo boton_rojo" data-bs-dismiss="modal">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="modal-body">

                        <div class="text-center fs-3 p-3 mb-2 bg-primary-subtle text-primary-emphasis ">
                            <span>SELECCIONE EL TIPO DE DONACION</span>
                        </div>
                        <br>
                        {{#if fisico}}
                            <div class="accordion" id="collapse_registro">
                                <div class="row row-cols-3 gx-3 gy-2 mb-3">
                                    <div class="col-6 col-md-4">
                                        <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_form_dinero" aria-expanded="false" aria-controls="contenedor_form_dinero">DINERO</a>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_form_vianda" aria-expanded="false" aria-controls="contenedor_form_vianda">VIANDA</a>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_form_reparto" aria-expanded="false" aria-controls="contenedor_form_reparto">REPARTO</a>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_form_pv" aria-expanded="false" aria-controls="contenedor_form_pv">REGISTRO P.V.</a>
                                    </div>
                                </div>

                                <!-- MODALES DE DONACIONES -->
                                <div id="contenedor_form_dinero" class="accordion-collapse collapse" data-bs-parent="#collapse_registro">
                                    <div class="accordion-body contenedor_datos">
                                        <form action="/donar-dinero" method="POST">
                                            <div class="row g-3">
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_monto_dinero" name="campo_monto_dinero" value="" placeholder="">
                                                        <label for="campo_monto_dinero">Monto</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" name="campo_frecuencia_dinero" id="campo_frecuencia_dinero">
                                                            <option value="" class="d-none">Seleccione...</option>
                                                            <option value="FRECUENCIA_DIARIA">FRECUENCIA DIARIA</option>
                                                            <option value="FRECUENCIA_SEMANAL">FRECUENCIA SEMANAL</option>
                                                            <option value="FRECUENCIA_MENSUAL">FRECUENCIA MENSUAL</option>
                                                            <option value="FRECUENCIA_ANUAL">FRECUENCIA ANUAL</option>
                                                        </select>
                                                        <label for="campo_frecuencia_dinero">Frecuencia</label>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mt-3">
                                                    <div class="col-6">
                                                        <button type="submit" class="boton boton_enviar_form">REGISTRAR</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="contenedor_form_vianda" class="accordion-collapse collapse" data-bs-parent="#collapse_registro">

                                    <div class="accordion-body contenedor_datos">
                                        <div class="text-center fs-3 mb-2 bg-primary-subtle text-primary-emphasis text-white ">
                                            <span>RECOMENDAME UN LUGAR </span>
                                        </div>
                                        <br>

                                        <div class="accordion" id="collapse_lugar">
                                            <div class="row row-cols-3 gx-3 gy-2 mb-3">
                                                <div class="col-6 col-md-6">
                                                    <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#id_ubicacion_actual" aria-expanded="false" aria-controls="id_ubicacion_actual">SEGUN MI UBICACIÓN ACTUAL</a> <!-- Permitir acceder a ubicación -->
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_seleccionar_ubicacion" aria-expanded="false" aria-controls="contenedor_seleccionar_ubicacion">SELECCIONAR UBICACIÓN</a> <!-- Buscar por provincia por provincia y localidad -->
                                                </div>
                                            </div>
                                            <div id="contenedor_seleccionar_ubicacion" class="accordion-collapse collapse" data-bs-parent="#collapse_lugar">
                                                <div class="accordion-body contenedor_datos">
                                                    <form>
                                                        <div class="row row-cols-1 row-cols-md-2 g-3">
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-floating">
                                                                    <select class="form-select shadow-none rounded-4" id="vianda_provincia" name="vianda_provincia">
                                                                        <option value="0" class="d-none">Seleccione...</option>
                                                                        <option value="2">Buenos Aires</option>
                                                                        <option value="3">Córdoba</option>
                                                                    </select>
                                                                    <label for="provincia">Provincia</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-floating">
                                                                    <select class="form-select shadow-none rounded-4" id="vianda_localidad" name="vianda_localidad">
                                                                        <option value="0" class="d-none">Seleccione...</option>
                                                                        <option value="2">CABA</option>
                                                                        <option value="3">Rosario</option>
                                                                    </select>
                                                                    <label for="localidad">Localidad</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <form>
                                            <div class="row row-cols-1 row-cols-md-2 g-3">
                                                <div class="col-12 col-md-12">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_monto_vianda" name ="campo_monto_vianda" value="" placeholder="">
                                                        <label for="campo_monto_vianda">Descripcion</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_vencimiento_dinero" name="campo_vencimiento_dinero" value="" placeholder="">
                                                        <label for="campo_vencimiento_dinero">Fecha de vencimiento</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_fecha_vianda" name="campo_fecha_vianda" value="" placeholder="">
                                                        <label for="campo_fecha_vianda">Fecha de Donacion</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_calorias_vianda" name="campo_calorias_vianda" value="" placeholder="">
                                                        <label for="campo_calorias_vianda">Calorias</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_peso_vianda" name="campo_peso_vianda" value="" placeholder="">
                                                        <label for="campo_peso_vianda">Peso</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12 d-none">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_colaborador_vianda" name="campo_colaborador_vianda" value="Colaborador_id" placeholder="" disabled>
                                                        <label for="campo_colaborador_vianda">Colaborador</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-6">
                                                    <button type="submit" class="boton boton_enviar_form">REGISTRAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="contenedor_form_reparto" class="accordion-collapse collapse" data-bs-parent="#collapse_registro">
                                    <div class="accordion-body contenedor_datos">
                                        <form method="POST" action="distribuir-viandas">
                                            <div class="row row-cols-1 row-cols-md-2 g-3">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="campo_origen_reparto" name="campo_origen_reparto">
                                                            <option value="" class="d-none">Seleccione...</option>
                                                            {{#each heladeras}}
                                                                <option value="{{this.id}}">{{this.nombreIdentificador}}</option>
                                                            {{/each}}
                                                        </select>
                                                        <label for="campo_origen_reparto">Heladera de origen</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="campo_destino_reparto" name="campo_destino_reparto">
                                                            <option value="0" class="d-none">Seleccione...</option>
                                                            {{#each heladeras}}
                                                                <option value="{{this.id}}">{{this.nombreIdentificador}}</option>
                                                            {{/each}}
                                                        </select>
                                                        <label for="campo_destino_reparto">Heladera de destino</label>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-2">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_cantidad_reparto" name="campo_cantidad_reparto" value="0" placeholder="">
                                                        <label for="campo_calorias_reparto">Ingrese cantidad</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="campo_motivo_reparto" name="campo_motivo_reparto">
                                                            <option value="0" class="d-none">Seleccione...</option>
                                                            <option value="DESPERFECTO_HELADERA">DESPERFECTO_HELADERA</option>
                                                            <option value="FALTA_DE_VIANDAS">FALTA_DE_VIANDAS</option>
                                                            <option value="OTROS">OTROS</option>

                                                        </select>
                                                        <label for="campo_motivo_reparto">Motivo</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-6">
                                                    <button type="submit" class="boton boton_enviar_form">REGISTRAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="contenedor_form_pv" class="accordion-collapse collapse" data-bs-parent="#collapse_registro">
                                    <div class="accordion-body contenedor_datos">
                                        <form action="/registrarVulnerable" method="POST">
                                            <div class="row row-cols-1 row-cols-md-3 g-3 align-items-center">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_nombre_pv" name="campo_nombre_pv" placeholder="">
                                                        <label for="campo_nombre_pv">Nombre(s)</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_apellido_pv" name="campo_apellido_pv" placeholder="">
                                                        <label for="campo_apellido_pv">Apellido(s)</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_direccion_pv" name="campo_direccion_pv" placeholder="">
                                                        <label for="campo_direccion_pv">Direccion</label>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-2">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="campo_tipo_documento_pv" name="campo_tipo_documento_pv">
                                                            <option value="0" class="d-none">...</option>
                                                            <option value="DNI" >DNI</option>
                                                            <option value="LE" >LE</option>
                                                            <option value="PASAPORTE">PASAPORTE</option>
                                                        </select>
                                                        <label for="campo_tipo_documento_pv">Tipo</label>
                                                    </div>
                                                </div>
                                                <div class="col-8 col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_nro_documento_pv" name="campo_nro_documento_pv" placeholder="">
                                                        <label for="campo_nro_documento_pv">Numero</label>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="campo_nacimiento_pv" class="form-label">Fecha de Nacimiento</label>
                                                    <input type="date" class="form-control" id="campo_nacimiento_pv"
                                                           name="campo_nacimiento_pv"
                                                           required>
                                                </div>
                                                <div class="container-hijos">
                                                    <h5 class="mt-4">Información de los Hijos</h5>
                                                    <div id="hijosContainerEdit"></div>
                                                    <button type="button" class="btn btn-success" id="agregarHijoEditBtn"><i class="bi bi-plus-circle"></i> Agregar Hijo</button>
                                                </div>


                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-6">
                                                    <button type="submit" class="boton boton_enviar_form">REGISTRAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="accordion" id="collapse_registro">
                                <div class="row row-cols-3 gx-3 gy-2 mb-3">
                                    <div class="col-6 col-md-6">
                                        <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_form_dinero" aria-expanded="false" aria-controls="contenedor_form_dinero">DINERO</a>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <a class="boton btn_seleccion_contribucion collapsed" data-bs-toggle="collapse" data-bs-target="#contenedor_form_producto_servicio" aria-expanded="false" aria-controls="contenedor_form_producto_servicio">OFRECER PRODUCTO/SERVICIO</a>
                                    </div>

                                </div>

                                <!-- MODALES DE DONACIONES -->
                                <div id="contenedor_form_dinero" class="accordion-collapse collapse" data-bs-parent="#collapse_registro">
                                    <div class="accordion-body contenedor_datos">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_monto_dinero" value="" placeholder="">
                                                        <label for="campo_monto_dinero">Monto</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_fecha_dinero" value="" placeholder="">
                                                        <label for="campo_fecha_dinero">Fecha de donacion</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="campo_frecuencia_dinero">
                                                            <option value="0" class="d-none">Seleccione...</option>
                                                            <option value="2">Opcion 2</option>
                                                            <option value="3">Opcion n</option>
                                                        </select>
                                                        <label for="campo_frecuencia_dinero">Frecuencia</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-6">
                                                    <button type="submit" class="boton boton_enviar_form">REGISTRAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div id="contenedor_form_producto_servicio" class="accordion-collapse collapse" data-bs-parent="#collapse_registro">
                                    <div class="accordion-body contenedor_datos">
                                        <form>
                                            <div class="row row-cols-1 row-cols-md-3 g-3">
                                                <div class="col-6 col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="descripcion_producto_servicio" value="" placeholder="">
                                                        <label for="descripcion_producto_servicio">Descripción</label>
                                                    </div>
                                                </div>
                                                <!-- Selector button producto o servicio -->
                                                <div class="col-6 col-md-4">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="categoria_producto_servicio">
                                                            <option value="0" class="d-none">Seleccione...</option>
                                                            <option value="1">Producto</option>
                                                            <option value="2">Servicio</option>
                                                        </select>
                                                        <label for="campo_tipo_producto_servicio">Categoría</label>
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-floating">
                                                        <select class="form-select shadow-none rounded-4" id="campo_rubro_producto_servicio">
                                                            <option value="0" class="d-none">Seleccione...</option>
                                                            <option value="1">Electrónica</option>
                                                            <option value="2">Alimenticio</option>
                                                            <option value="3">Entretenimiento</option>
                                                        </select>
                                                        <label for="campo_rubro_producto_servicio">Rubro</label>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-12 d-none">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control shadow-none rounded-4" id="campo_colaborador_vianda" value="Colaborador_id" placeholder="" disabled>
                                                        <label for="campo_colaborador_vianda">Colaborador</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-6">
                                                    <button type="submit" class="boton boton_enviar_form">REGISTRAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>


        <!-- LISTA DE CARDS -->
        <div class="contenedor_datos container-fluid py-4">

            {{#each donaciones}}
                <div class="row fila_contribucion mb-3">
                    <div class="col-12">
                        <div class="scrollable-card p-3">
                            <div class="row">
                                {{#if (eq this.getTipo "Dinero")}}
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-cash-stack"></i> DINERO</div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaDeDonacion}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-currency-dollar"></i> Monto: <span class="valor_info">${{this.cantidad}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-repeat"></i> Frecuencia: <span class="valor_info">{{this.frecuencia}}</span></div>
                                    </div>
                                {{/if}}

                                {{#if (eq this.getTipo "Vianda")}}
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-box-seam"></i> VIANDA</div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaDeDonacion}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-exclamation-triangle"></i> Fecha de vencimiento: <span class="valor_info">{{this.fechaVencimiento}}</span></div>
                                    </div>
                                {{/if}}

                                {{#if (eq this.getTipo "Distribuir")}}
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-truck"></i> REPARTO</div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaDeDonacion}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-arrow-repeat"></i> Motivo: <span class="valor_info">{{this.motivo}}</span></div>
                                    </div>
                                {{/if}}
                                {{#if (eq this.getTipo "MantenerHeladera")}}
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-tools"></i> MANTENER ESTACIÓN	</div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaDeDonacion}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-door-open"></i> Heladera: <span class="valor_info">{{this.heladera.nombreIdentificador}}</span></div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="tag_info w-100"><i class="bi bi-repeat"></i> Puntos obtenidos: <span class="valor_info">300</span></div>
                                    </div>
                                {{/if}}
                                {{#if (eq this.getTipo "Producto")}}
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-box-seam"></i> Producto</div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">2024-09-05</span></div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="tag_info w-100"><i class="bi bi-clipboard"></i> Descripción: <span class="valor_info">Playstation 5</span>
                                        </div>
                                    </div>
                                {{/if}}
                                {{#if (eq this.getTipo "RegistroDePersonaVulnerable")}}
                                    <!-- Card 5: REGISTRO P.V. -->
                                    <div class="row fila_contribucion mb-3">
                                        <div class="col-12">
                                            <div class="scrollable-card p-3">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <div class="tag_info w-100"><i class="bi bi-person-lines-fill"></i> REGISTRO P.V.</div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">{{this.fechaDeDonacion}}</span></div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="tag_info w-100"><i class="bi bi-person"></i> Nombre completo: <span class="valor_info">{{this.personaVulnerable.nombre}}</span></div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="tag_info w-100"><i class="bi bi-card-list"></i> Tipo Documento: <span class="valor_info">{{this.personaVulnerable.documento.tipo}}</span></div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="tag_info w-100"><i class="bi bi-credit-card-2-front"></i> Nro Documento: <span class="valor_info">{{this.personaVulnerable.documento.numeroDeDocumento}}</span></div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="tag_info w-100"><i class="bi bi-people-fill"></i> Cantidad de hijos: <span class="valor_info">{{this.personaVulnerable.cantidadMenoresACargo}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                                <!-- Agrega más condicionales para otros tipos de donaciones -->
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>

    <!-- Botones volver al menu , recomendar lugar para donar y quiero donar -->
    <div class="flex row col-12 ">
        <!-- boton volver al menu principal -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-home">
            <a href="/home" class="btn btn-primary botones" >
                <i class="bi bi-house-door-fill"></i>
                Volver al menú
            </a>
        </div>
        <!-- boton donar de nuevo -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-agregar-donacion">
            <a class="btn botones btn-donar" data-bs-toggle="modal" data-bs-target="#modal_nueva_colab">
                <i class="bi bi-plus-circle"></i>
                Quiero donar
            </a>
        </div>
    </div>
{{/partial}}
{{#partial "scripts"}}
    {{#if fisico}}
        <script>
            // Referencia al contenedor de los hijos en el modal de edición
            const hijosContainerEdit = document.getElementById('hijosContainerEdit');
            let hijoEditIndex = 0;

            // Función para agregar un nuevo hijo en el modal de edición
            document.getElementById('agregarHijoEditBtn').addEventListener('click', function () {
                hijoEditIndex++; // Incrementar el índice de los hijos
                const hijoHtml = `
                <div class="mb-3 border p-3" id="hijo-edit-${hijoEditIndex}">
                    <h6>Hijo ${hijoEditIndex}</h6>
                    <div class="mb-3">
                        <label for="nombreHijoEdit${hijoEditIndex}" class="form-label">Nombre del Hijo</label>
                        <input type="text" class="form-control" id="nombreHijoEdit${hijoEditIndex}" name="nombreHijo${hijoEditIndex}" placeholder="Ingrese Nombre del Hijo" required>

                    </div>
                    <div class="mb-3">
                        <label for="apellidoHijoEdit${hijoEditIndex}" class="form-label">Apellido del Hijo</label>
                        <input type="text" class="form-control" id="apellidoHijoEdit${hijoEditIndex}" name="apellidoHijo${hijoEditIndex}" placeholder="Ingrese Apellido del Hijo" required>

                    </div>
                    <div class="mb-3">
                        <label for="fechaNacimientoHijoEdit${hijoEditIndex}" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimientoHijoEdit${hijoEditIndex}" name="fechaNacimientoHijo${hijoEditIndex}" required>
                    </div>
                    <button type="button" class="btn btn-danger" onclick="eliminarHijoEdit(${hijoEditIndex})"><i class="bi bi-trash"></i> Eliminar Hijo</button>
                </div>`;
                hijosContainerEdit.insertAdjacentHTML('beforeend', hijoHtml);
            });


            // Función para eliminar un hijo en el modal de edición
            function eliminarHijoEdit(index) {
                const hijoElement = document.getElementById(`hijo-edit-${index}`);
                hijoElement.remove();
            }

        </script>
    {{else}}
    {{/if}}
{{/partial}}
{{> templates/home/base}}