{{#partial "styles"}}
    <!-- CSS -->
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/donaciones.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/nueva_donacion.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script>
        var heladeras = [];
        {{#each heladeras}}
            heladeras.push({
                nombre: "{{estacion}}",
                    coordenadas: [{{latitud}}, {{longitud}}],
                    estado: "{{estado}}",
                    direccion: "{{direccion}}",
                    temperatura: "{{temperatura}}",
                    capacidad: "{{capacidadMax}}",
                    viandas: "{{viandasDisponibles}}",
                    inicioOperacion: "{{inicioOperacion}}"
                });
        {{/each}}
    </script>
{{/partial}}
{{#partial "title"}}
    Canjes
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal " class="p-4 container ">
        <div class="contenedor_titulo_pagina d-flex gap-4 mb-4 container">
            <div class="titulo">
                <span>Mis Canjes</span>
            </div>
            <!-- BOTON AÑADIR CANJE -->
            <a class="boton boton_titulo boton_verde" data-bs-toggle="modal" data-bs-target="#modal_nuevo_canje">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>

        <!-- FORMULARIO MODAL AÑADIR CANJE -->
        <div class="modal fade" id="modal_nuevo_canje" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="contenedor_titulo_pagina d-flex gap-4 w-100">
                            <div class="titulo flex-fill">
                                <span>NUEVO CANJE</span>
                            </div>
                            <a class="boton boton_titulo boton_rojo" data-bs-dismiss="modal">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario -->
                        <form id="form_fisico">
                            <div class="row g-5 mb-4">
                                <!-- Nombre -->
                                <div class="col-12 col-md-4 px-5">
                                    <div class="form-floating">
                                        <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nombre_fisico"
                                               value="Pepe" placeholder="Nombre" disabled>
                                        <label for="campo_nombre_fisico">Nombre</label>
                                    </div>
                                </div>
                                <!-- Apellido -->
                                <div class="col-12 col-md-4 px-5">
                                    <div class="form-floating">
                                        <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_apellido_fisico"
                                               value="Argento" placeholder="Apellido" disabled>
                                        <label for="campo_apellido_fisico">Apellido</label>
                                    </div>
                                </div>
                                <!-- Nro Documento -->
                                <div class="col-12 col-md-4 px-5">
                                    <div class="form-floating">
                                        <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nro_documento_fisico"
                                               value="123456789" placeholder="Nro Documento" disabled>
                                        <label for="campo_nro_documento_fisico">Nro Documento</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-5 mb-4">
                                <!-- Canje de producto -->
                                <div class="col-md-4 px-5">
                                    <div class="form-floating">
                                        <select class="entrada_form form-select shadow-none rounded-4" id="campo_tipo_canje_fisico">
                                            <option value="1" selected>Lavarropas</option>
                                            <option value="2">Descuento en supermercados</option>
                                            <option value="3">Viaje gratis</option>
                                        </select>
                                        <label for="campo_tipo_canje_fisico">Canje de producto</label>
                                    </div>
                                </div>

                                <!-- Costo de puntos -->
                                <div class="col-md-4 px-5">
                                    <div class="form-floating">
                                        <input type="number" class="entrada_form form-control shadow-none rounded-4" id="campo_costo_puntos_fisico"
                                               placeholder="Costo de puntos" disabled>
                                        <label for="campo_costo_puntos_fisico">Costo de puntos</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Puntos disponibles -->
                            <div class="col-12 col-md-3 g-4 px-4 mb-4">
                                <div class="form-floating">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_puntos_acumulados"
                                           value="1500" placeholder="Puntos Acumulados" disabled>
                                    <label for="campo_puntos_acumulados" class="text-success">Puntos Disponibles</label>
                                </div>
                            </div>

                            <!-- Botones cancelar/guardar -->
                            <div id="cont_cancelar_guardar_form_fisico" class="row justify-content-around mb-4">
                                <div class="col-6 col-md-4">
                                    <button id="btn_guardar_form_canje_fisico" type="button" class="boton boton_verde py-1 w-100 fs-3" data-bs-toggle="modal" data-bs-target="#modalConfirmacion">
                                        <span>SOLICITAR</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- LISTA DE CANJES -->
        <div class="contenedor_datos container-fluid py-4">

            <!-- FOR DE PRODUCTOS -->
            <!-- Card : Producto -->
            <div class="row fila_contribucion mb-3">
                <div class="col-12">
                    <div class="scrollable-card p-3">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="tag_info w-100"><i class="bi bi-box-seam"></i> Producto</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="tag_info w-100"><i class="bi bi-door-closed"></i> Heladera ID: <span class="valor_info">1234</span></div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="tag_info w-100"><i class="bi bi-calendar"></i> Fecha realizada: <span class="valor_info">2024-09-05</span></div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="tag_info w-100"><i class="bi bi-clipboard"></i> Descripción: <span class="valor_info">Playstation 5</span></div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="tag_info w-100"><i class="bi bi-bag"></i> Puntos utilizados: <span class="valor_info">200</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal de confirmación -->
        <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalConfirmacionLabel">Confirmación de Solicitud</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas solicitar el canje seleccionado?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirmarSolicitud">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="flex row col-12">
        <!-- boton volver al menu principal -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-home">
            <a href="/home" class="btn btn-primary botones" >
                <i class="bi bi-house-door-fill"></i>
                Volver al menú
            </a>
        </div>

        <!-- boton canjear de nuevo -->
        <div class="d-flex col-12 col-md-6 justify-content-center mb-4" id="boton-agregar-donacion">
            <a class="btn botones btn-donar" data-bs-toggle="modal" data-bs-target="#modal_nuevo_canje">
                <i class="bi bi-plus-circle"></i>
                Quiero canjear
            </a>
        </div>

    </div>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{> templates/home/base}}