<!-- Seccion Colaboradores Juridicos -->
{{#partial "contenido"}}
<section id="listado-colaboradores-juridicos" class="d-block">
    <p class="lead">Listado de colaboradores jurídicos</p>
    <hr>

    <div class="container">
        <!-- <h2>Usuarios</h2> -->

        <!-- Botón para abrir el modal de crear -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalCrearColaboradorJuridico">Crear Colaborador Jurídico</button>

        <!-- Tabla de usuarios -->
        <table class="table mt-3">
            <thead>
            <tr>
                <th>ID</th>
                <th>Estado</th>
                <th>Razon Social</th>
                <th>Tipo Razon Social </th>
                <th>Rubro</th>
                <th>Email</th>
                <th>Puntos Acumulados</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>

            <!-- Listado de usuarios  -->
            {{#each colaboradoresJuridicos}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.activo}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.razonSocial}}</td>
                <td>{{this.rubro}}</td>
                <td>{{this.email}}</td>
                <td>{{this.puntosAcumulados}}</td>
                <td>
                    <!-- Botón para abrir el modal de edición -->
                    <button class="btn btn-warning"
                            hx-get="/dashboard/juridicos/{{this.id}}/edit"
                            hx-target="#modalEditarColaboradorJuridico .modal-content"
                            hx-trigger="click"
                            data-toggle="modal"
                            data-target="#modalEditarColaboradorFisico"
                            title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <!-- Botón para baja lógica  -->
                    <button class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#modalDeshabilitarColaboradorJuridico"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Deshabilitar">
                        <i class="bi bi-arrow-down-circle"></i>
                    </button>

                    <!-- Botón para abrir el modal de eliminación -->
                    <form action="/dashboard/juridicos/{{this.id}}/delete" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>

                </td>

            </tr>
            {{/each}}

            <div class="modal fade" id="modalEditarColaboradorJuridico" tabindex="-1" aria-labelledby="modalEditarColaboradorJuridico" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content"></div> <!-- Aquí HTMX insertará el formulario de edición -->
                </div>
            </div>

            <!-- Modal de eliminación para el usuario con ID -->
            <div class="modal fade" id="modalEliminarColaboradorJuridico{{this.id}}" tabindex="-1" aria-labelledby="modalEliminarColaboradorJuridico" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que deseas eliminar este usuario?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="/dashboard/juridicos/{{this.id}}/delete" method="POST">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de deshabilitación  -->
            <div class="modal fade" id="modalDeshabilitarColaboradorJuridico" tabindex="-1" aria-labelledby="modalDeshabilitarColaboradorJuridico" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Desactivar Usuario</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que deseas dar de baja a este usuario?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-outline-danger">Deshabilitar</button>
                        </div>
                    </div>
                </div>
            </div>

            </tbody>
        </table>
    </div>

    <!-- Modal de creación -->
    <div class="modal fade" id="modalCrearColaboradorJuridico" tabindex="-1" aria-labelledby="modalCrearColaboradorJuridico" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- modal-lg para hacerlo más amplio -->
            <div class="modal-content">

                <!-- Cabecera del modal -->
                <div class="modal-header bg-primary text-white"> <!-- Fondo colorido para mayor contraste -->
                    <h5 class="modal-title"><i class="bi bi-person-plus-fill"></i> Crear Usuario</h5> <!-- Icono añadido -->
                    <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="formCrearColaboradorJuridico" action="/dashboard/juridicos" method="POST">
                        <div class="form-group">
                            <label for="razonSocial" class="form-label">Razón Social</label> <!-- Cambio a form-label -->
                            <input type="text" class="form-control" id="razonSocial" placeholder="Ingrese Razón Social" required> <!-- Añadido required -->
                        </div>
                        <<div class="form-group">
                            <label for="rubro" class="form-label">Rubro</label>
                            <input type="text" class="form-control" id="rubro" placeholder="Ingrese Rubro" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Ingrese email" required>
                        </div>
                        <div class="form-group">
                            <label for="tipoDeRazonSocial" class="form-label">Tipo de Razón Social</label>
                            <select class="form-select" id="tipoDeRazonSocial" required>
                                <option value="" disabled selected>Seleccionar tipo...</option>
                                <option value="1">Gubernamental</option>
                                <option value="2">ONG</option>
                                <option value="3">Empresa</option>
                                <option value="4">Institución</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="activo">Activo</label>
                            <select class="form-control" id="activo" name="activo">
                                <option value="true">Sí</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                    </form>
                </div>

                <!-- Pie del modal -->
                <div class="modal-footer d-flex justify-content-between"> <!-- Distribuir botones a los lados -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-x-circle"></i> Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Crear</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{> templates/dashboard}}