{{#partial "styles"}}
    <!-- CSS -->
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/donaciones.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/nueva_donacion.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/mapa_de_estaciones.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    {{#if juridico}}
    {{else}}
        <script>
            var heladeras = [];
                {{#each heladeras}}
                heladeras.push({
                    nombre: "{{estacion}}",
                    coordenadas: [{{latitud}}, {{longitud}}],
                    estado: "{{estado}}",
                    direccion: "{{direccion}}",
                    temperatura: "{{temperatura}}",
                    capacidad: "{{capacidadMax}}",
                    viandas: "{{viandasDisponibles}}",
                    inicioOperacion: "{{inicioOperacion}}"
                });
                {{/each}}
        </script>
    {{/if}}
{{/partial}}
{{#partial "title"}}
    Mapa de estaciones
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal_donaciones " class="p-4 container ">
        <div class="contenedor_titulo_pagina d-flex gap-4 mb-4 container">
            <div class="titulo">
                <span>Mapa de estaciones</span>
            </div>
        </div>

        <!-- MAPA -->
        <section class = "stations-map ">
            <div class = "container">
                <div id="stations-map-placeholder " class="bg-light bg-gradient rounded-5" style="--bs-bg-opacity: .5;">
                    <div class="row p-5 ">
                        <!-- Columna del mapa -->
                        {{#if juridico}}
                            <div class="col-lg-12 mb-4 p-0">
                                <div class="p-lg-3 p-0 m-0">
                                    <h2 class="text-center mb-4">Estaciones</h2>
                                    <div id="map" class="rounded-5" >
                                        <div class="tooltip-map" id="tooltip-map">
                                            1. Seleccionar un punto en el mapa donde desee ubicar la heladera.
                                        </div>
                                        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
                                        <script src="/js/script_mapa_colaborador_juridico.js"></script>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="col-lg-8 mb-4 p-0">
                                <div class="p-lg-3 p-0 m-0">
                                    <h2 class="text-center mb-4">Estaciones</h2>
                                </div>
                                <div id="map" class="rounded-5 ">
                                    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
                                    <script src="/js/script_mapa_tecnico_fisico.js"></script>
                                </div>
                            </div>
                        {{/if}}

                        <!-- Columna de la barra de búsqueda e información -->
                        {{#if juridico}}
                            <div class="col-lg-12">
                                <div class="rounded pt-1 mt-3 px-3">

                                    <div class="d-flex justify-content-evenly col-12 col-md-12  mt-4 gap-4" >
                                        <button href="" class="btn btn-success botones" id="boton-donar-heladera" data-bs-toggle="modal" data-bs-target="#donarHeladeraModal" disabled >
                                            <i class="bi bi-bell-fill"></i>
                                            Donar Heladera
                                        </button>
                                    </div>

                                </div>
                            </div>
                        {{else}}
                            <div class="col-lg-4">
                                <div class="rounded pt-1 mt-3 px-3">
                                    <!-- Barra de búsqueda -->
                                    <h2 class="text-center mb-4">Buscar </h2>
                                    <div id="search-bar">
                                        <input type="text" class="form-control " placeholder="Buscar estación..." >
                                    </div>

                                    <!-- Información de la heladera -->
                                    <div id="container-information-refrigerator" class="mt-5 px-3 rounded-5 pb-4 bg-light bg-gradient">
                                        <h2 class="text-center mb-5 pt-3">Información</h2>
                                        <div id="information-refrigerators">
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="estado"> <i class="bi bi-clipboard2-pulse"></i> Estado: </label>
                                                <input placeholder="Activa/NO" class="form-control form-control-sm w-50" name="estado" type="text" id="estado" disabled>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="estacion"><i class="bi bi-bookmark"></i> Estación: </label>
                                                <input placeholder="Nombre de estación" class="form-control form-control-sm w-50" name="estacion" type="text" id="estacion-name" disabled>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="direccion"><i class="bi bi-geo-alt"></i> Dirección: </label>
                                                <input placeholder="Dirección" class="form-control form-control-sm w-50" name="direccion" type="text" id="direccion" disabled>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="temperatura"><i class="bi bi-thermometer"></i> Temperatura: </label>
                                                <input placeholder="Temperatura" class="form-control form-control-sm w-50" name="temperatura" type="text" id="temperatura" disabled>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="capacidad-total"><i class="bi bi-box-seam"></i> Capacidad : </label>
                                                <input placeholder="Capacidad Total" class="form-control form-control-sm w-50" name="capacidad-total" type="text" id="capacidad-total" disabled>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="viandas-disponibles"><i class="bi bi-basket2"></i> Viandas Disponibles: </label>
                                                <input placeholder="Viandas Disponibles" class="form-control form-control-sm w-50" name="viandas-disponibles" type="text" id="viandas-disponibles" disabled>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <label class="form-label w-50" for="inicio-operacion"><i class="bi bi-calendar"></i> Inicio de Operación: </label>
                                                <input placeholder="Fecha de Inicio" class="form-control form-control-sm w-50" name="inicio-operacion" type="text" id="inicio-operacion" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    {{#if tecnico}}
                                        <div class="d-flex justify-content-evenly col-12 col-md-12  mt-4 gap-4" >

                                            <!-- Botón "Informe de reparación" con data-target actualizado -->
                                            <button href="#" class="btn btn-success botones" id="boton-informe-reparacion" data-bs-toggle="modal" data-bs-target="#reparacionModal" disabled>
                                                <i class="bi bi-bell-fill"></i> Informe de reparación
                                            </button>
                                        </div>
                                    {{else}}
                                        <div class="d-flex justify-content-evenly col-12 col-md-12  mt-4 gap-4" >
                                            <a href="" class="btn btn-danger botones" id="boton-report-heladera" data-bs-toggle="modal" data-bs-target="#reportModal" >
                                                <i class="bi bi-exclamation-triangle-fill"></i>
                                                Reportar heladera
                                            </a>
                                            <a href="" class="btn btn-success botones" id="boton-suscribirse-heladera" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                                                <i class="bi bi-bell-fill"></i>
                                                Suscribirse
                                            </a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <!-- MODALES -->
                    {{#if tecnico}}
                        <!-- Modal para "Informe de reparación de heladera" -->
                        <div class="modal fade" id="reparacionModal" tabindex="-1" aria-labelledby="reparacionModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reparacionModalLabel">Informe de reparación de heladera</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <label>Nombre de la estación:</label>
                                            <input type="text" class="form-control" id="nombre-estacion-modal" disabled>
                                        </div>
                                        <div class="mt-3">
                                            <label>Fecha y hora de asistencia técnica:</label>
                                            <input type="datetime-local" class="form-control" id="fecha-asistencia">
                                        </div>
                                        <div class="mt-3">
                                            <label>Descripción de la falla:</label>
                                            <textarea class="form-control" placeholder="Describe el problema aquí..." id="descripcion-falla"></textarea>
                                        </div>
                                        <div class="mt-3">
                                            <label>Subir imagen:</label>
                                            <input type="file" class="form-control" id="imagen-falla" accept="image/*">
                                        </div>
                                        <div class="mt-3">
                                            <label>¿Reparada?</label>
                                            <select class="form-control" id="reparada">
                                                <option value="si">Sí</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger">Enviar informe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else if juridico}}
                        <div class="modal fade" id="donarHeladeraModal" tabindex="-1" aria-labelledby="donarHeladeraModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="donarHeladeraModalLabel">Donar nueva heladera</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Formulario para donar heladera -->
                                        <form action="/mantenerHeladera" method="POST" id="donationForm">
                                            <div class="mb-3">
                                                <label for="nombreHeladera" class="form-label">Nombre de la heladera</label>
                                                <input type="text" class="form-control" id="nombreHeladera" name="nombreHeladera" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="refrigeratorModel" class="form-label">Modelo de la Heladera</label>
                                                <select class="form-select" id="refrigeratorModel" name="refrigeratorModel" required>
                                                    <option value="">Seleccione una opción</option>
                                                    {{#each modelosHeladeras}}
                                                        <option value="{{nombreModelo}}">{{nombreModelo}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="refrigeratorCapacity" class="form-label">Capacidad de la Heladera</label>
                                                <input type="number" class="form-control" id="refrigeratorCapacity" name="refrigeratorCapacity" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="donationLocation" class="form-label">Dirección </label>
                                                <input type="text" class="form-control" id="donationLocation" name="donationLocation" readonly required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="donationNeighborhood" class="form-label">Barrio</label>
                                                <input type="text" class="form-control" id="donationNeighborhood" name="donationNeighborhood" readonly required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="donationCity" class="form-label">Localidad</label>
                                                <input type="text" class="form-control" id="donationCity" name="donationCity" readonly required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="donationState" class="form-label">Provincia</label>
                                                <input type="text" class="form-control" id="donationState" name="donationState" readonly required>
                                            </div>
                                            <input type="hidden" class="form-control" id="longitud" name="longitud" readonly required>
                                            <input type="hidden" class="form-control" id="latitud" name="latitud" readonly required>

                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary">
                                                    Confirmar donación
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else if fisico}}
                        <!-- Modal para "Reportar heladera" -->
                        <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reportModalLabel" >Reportar heladera</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que deseas reportar esta heladera?</p>
                                        <p>Por favor, describe el problema:</p>
                                        <textarea class="form-control" placeholder="Describe el problema aquí..."></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger">Reportar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal para "Suscribirse" -->
                        <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="subscribeModalLabel">Suscribirse a las notificaciones</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Deseas suscribirte para recibir notificaciones sobre esta heladera?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-success">Suscribirse</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </section>
    </div>
    <!-- Botones volver al menu  -->
    <div class="flex row col-12">
        <!-- boton volver al menu principal -->
        <div class="d-flex col-12 col-md-12 justify-content-center mb-4" id="boton-home">
            <a href="/home" class="btn btn-primary botones" >
                <i class="bi bi-house-door-fill"></i>
                Volver al menú
            </a>
        </div>
    </div>
{{/partial}}
{{#partial "scripts"}}
    {{#if juridico}}
        <script src="/js/script_mapa_colaborador_juridico.js"></script>
    {{else}}
        <script src="/js/script_mapa_tecnico_fisico.js"></script>
    {{/if}}
{{/partial}}
{{> templates/home/base}}