{{#partial "styles"}}
    <!-- CSS -->
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/donaciones.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/nueva_donacion.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/mapa_de_estaciones.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script>
        var heladeras = [];
        {{#each heladeras}}
            heladeras.push({
                nombre: "{{estacion}}",
                    coordenadas: [{{latitud}}, {{longitud}}],
                    estado: "{{estado}}",
                    direccion: "{{direccion}}",
                    temperatura: "{{temperatura}}",
                    capacidad: "{{capacidadMax}}",
                    viandas: "{{viandasDisponibles}}",
                    inicioOperacion: "{{inicioOperacion}}",
                });
        {{/each}}
        console.log(heladeras)
    </script>
{{/partial}}
{{#partial "title"}}
    Mis estaciones
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal_donaciones " class="p-4 container ">
        <div class="contenedor_titulo_pagina d-flex gap-4 mb-4 container">
            <div class="titulo">
                <span>Mapa de estaciones</span>
            </div>
        </div>

        <!-- MAPA -->
        <section class = "stations-map ">
            <div class = "container">
                <div id="stations-map-placeholder " class="bg-light bg-gradient rounded-5" style="--bs-bg-opacity: .5;">
                    <div class="row p-5 ">
                        <!-- Columna del mapa -->
                        <div class="col-lg-8 mb-4 p-0">
                            <div class="p-lg-3 p-0 m-0">
                                <h2 class="text-center mb-4">Mis estaciones</h2>
                            </div>
                            <div id="map" class="rounded-5 ">
                                <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
                                <script src="/js/script_mapa_mis_estaciones.js"></script>
                            </div>
                        </div>

                        <!-- Columna de la barra de búsqueda e información -->
                        <div class="col-lg-4">
                            <div class="rounded pt-1 mt-3 px-3">
                                <!-- Barra de búsqueda -->
                                <h2 class="text-center mb-4">Buscar </h2>
                                <div id="search-bar">
                                    <input type="text" class="form-control " placeholder="Buscar estación..." >
                                </div>

                                <!-- Información de la heladera -->
                                <div id="container-information-refrigerator" class="mt-5 px-3 rounded-5 pb-4 bg-light bg-gradient">
                                    <h2 class="text-center mb-5 pt-3">Información</h2>
                                    <div id="information-refrigerators">
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="estado"> <i class="bi bi-clipboard2-pulse"></i> Estado: </label>
                                            <input placeholder="Activa/NO" class="form-control form-control-sm w-50" name="estado" type="text" id="estado" disabled>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="estacion"><i class="bi bi-bookmark"></i> Estación: </label>
                                            <input placeholder="Nombre de estación" class="form-control form-control-sm w-50" name="estacion" type="text" id="estacion-name" disabled>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="direccion"><i class="bi bi-geo-alt"></i> Dirección: </label>
                                            <input placeholder="Dirección" class="form-control form-control-sm w-50" name="direccion" type="text" id="direccion" disabled>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="temperatura"><i class="bi bi-thermometer"></i> Temperatura: </label>
                                            <input placeholder="Temperatura" class="form-control form-control-sm w-50" name="temperatura" type="text" id="temperatura" disabled>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="capacidad-total"><i class="bi bi-box-seam"></i> Capacidad : </label>
                                            <input placeholder="Capacidad Total" class="form-control form-control-sm w-50" name="capacidad-total" type="text" id="capacidad-total" disabled>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="viandas-disponibles"><i class="bi bi-basket2"></i> Viandas Disponibles: </label>
                                            <input placeholder="Viandas Disponibles" class="form-control form-control-sm w-50" name="viandas-disponibles" type="text" id="viandas-disponibles" disabled>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <label class="form-label w-50" for="inicio-operacion"><i class="bi bi-calendar"></i> Inicio de Operación: </label>
                                            <input placeholder="Fecha de Inicio" class="form-control form-control-sm w-50" name="inicio-operacion" type="text" id="inicio-operacion" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-evenly col-12 col-md-12  mt-4 gap-4" >
                                    <a href="" class="btn btn-danger botones" id="boton-report-heladera" data-bs-toggle="modal" data-bs-target="#reportModal" >
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        Ver detalles
                                    </a>
                                    <a href="" class="btn btn-success botones" id="boton-suscribirse-heladera" data-bs-toggle="modal" data-bs-target="#verVisitasTecnicas">
                                        <i class="bi bi-bell-fill"></i>
                                        Ver visitas tecnicas
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODALES -->
                    <div class="modal fade" id="verVisitasTecnicas" tabindex="-1" aria-labelledby="verVisitasTecnicasLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="verVisitasTecnicas">Visitas tecnicas de la heladera</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <label for="nombre-tecnico">Nombre del tecnico:</label>
                                        <input type="text" class="form-control" id="nombre-tecnico" name="nombre-tecnico" disabled>
                                    </div>
                                    <div class="mt-3">
                                        <label for="fecha-asistencia">Fecha y hora de asistencia técnica:</label>
                                        <input type="datetime-local" class="form-control" id="fecha-asistencia" disabled>
                                    </div>
                                    <div class="mt-3">
                                        <label for="comentario-visitas">Comentario sobre la visita:</label>
                                        <textarea class="form-control" placeholder="Describe el problema aquí..." id="comentario-visitas" name="comentario-visitas" disabled></textarea>
                                    </div>
                                    <div class="mt-3">
                                        <label>Imagen de la visita:</label>
                                        <img id="imagen-falla" class="img-fluid" alt="Imagen de la visita">
                                    </div>
                                    <div class="mt-3">
                                        <label for="reparada">¿Reparada?</label>
                                        <select class="form-control" id="reparada" name="reparada" disabled>
                                            <option value="si">SI</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <label for="nombre-tecnico">Nombre del tecnico:</label>
                                        <input type="text" class="form-control" id="nombre-tecnico" name="nombre-tecnico" disabled>
                                    </div>
                                    <div class="mt-3">
                                        <label for="fecha-asistencia">Fecha y hora de asistencia técnica:</label>
                                        <input type="datetime-local" class="form-control" id="fecha-asistencia" disabled>
                                    </div>
                                    <div class="mt-3">
                                        <label for="comentario-visitas">Comentario sobre la visita:</label>
                                        <textarea class="form-control" placeholder="Describe el problema aquí..." id="comentario-visitas" name="comentario-visitas" disabled></textarea>
                                    </div>
                                    <div class="mt-3">
                                        <label>Imagen de la visita:</label>
                                        <img id="imagen-falla" class="img-fluid" alt="Imagen de la visita">
                                    </div>
                                    <div class="mt-3">
                                        <label for="reparada">¿Reparada?</label>
                                        <select class="form-control" id="reparada" name="reparada" disabled>
                                            <option value="si">SI</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <label for="nombre-tecnico">Nombre del tecnico:</label>
                                        <input type="text" class="form-control" id="nombre-tecnico" name="nombre-tecnico" disabled>
                                    </div>
                                    <div class="mt-3">
                                        <label for="fecha-asistencia">Fecha y hora de asistencia técnica:</label>
                                        <input type="datetime-local" class="form-control" id="fecha-asistencia" disabled>
                                    </div>
                                    <div class="mt-3">
                                        <label for="comentario-visitas">Comentario sobre la visita:</label>
                                        <textarea class="form-control" placeholder="Describe el problema aquí..." id="comentario-visitas" name="comentario-visitas" disabled></textarea>
                                    </div>
                                    <div class="mt-3">
                                        <label>Imagen de la visita:</label>
                                        <img id="imagen-falla" class="img-fluid" alt="Imagen de la visita">
                                    </div>
                                    <div class="mt-3">
                                        <label for="reparada">¿Reparada?</label>
                                        <select class="form-control" id="reparada" name="reparada" disabled>
                                            <option value="si">SI</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Botones volver al menu  -->
    <div class="flex row col-12">
        <!-- boton volver al menu principal -->
        <div class="d-flex col-12 col-md-12 justify-content-center mb-4" id="boton-home">
            <a href="/home" class="btn btn-primary botones" >
                <i class="bi bi-house-door-fill"></i>
                Volver al menú
            </a>
        </div>
    </div>
{{/partial}}
{{#partial "scripts"}}
        <script src="/js/script_mapa_mis_estaciones.js"></script>
{{/partial}}
{{> home/base}}